@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
}

ul,
li {
    padding: 0;
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}
button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-image: url('https://www.publicdomainpictures.net/pictures/420000/velka/pineapple-wallpaper-pattern-1634293262za0.jpg');
    background-repeat:repeat;
    background-size: 600px;
}

header h1 {
    font-size: 3em;
}

nav {
    padding: 10px;
    border-right: 1px solid #ddd;
}
nav img {
    width: 300px;
}

nav h3 {
    text-align: center;
}

main {
    padding: 30px;
}

main h2 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

main img {
    width: 100%;
}

aside {
    padding: 30px;
    border-left: 1px solid #ddd;
}

aside img {
    width: 300px;
}

aside h3 {
    text-align: center;
}

footer {
    grid-column: span 3;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 30px;
}
